proj/Unity/.vs/*
proj/Unity/Library/*
!BuildSettings.asset
proj/Unity/Logs/*
proj/Unity/ProjectSettings/*
proj/Unity/UserSettings/*
proj/Unity/Temp/*
.DS_Store
proj/Unity/Packages/manifest.json
proj/Unity/Packages/packages-lock.json
